



ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}


#creativity {
border: 2px solid black;
height: 50px;
width: 150px;
background-color: blue;
color: white;
}
#activity {
border: 2px solid black;
width: 150px;
height: 50px;
background-color: red;
color: white;
}
#service {
border: 2px solid black;
width: 150px;
height: 50px;
background-color: green;
color: white;
}

a{
	color:blacks;
	text-decoration:none;
	font-size: 25px;
	margin-left: 10px;
}

a:hover{
	color:black;
	background:white;
	text-decoration: none;
}

.greenlink:hover{
	color:green;
	background:gray;
}


h1{
		font-family:'Book Antiqua';
		font-size: 30pt;
		text-align: center;
}
p{
line-height: 2.0;
font-size: 15pt;
}
.thick{
	font-weight: bold;
}
li{
line-height: 2.0;
font-size: 15pt;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.warning{
font-size:90px;
color:red;
}
p.hours{
color: white;
font-size: 15px;
text-align: center;
border-style: solid;
border-width: medium;
border-color:black;
height: 35px;
background: red;
}
p.hours1{
color: white;
font-size: 15px;
text-align: center;
border-style: solid;
border-width: medium;
border-color:black;
height: 35px;
background: blue;
}
p.hours2{
color: white;
font-size: 15px;
text-align: center;
border-style: solid;
border-width: medium;
border-color:black;
height: 35px;
background: green;
}


h3{
	text-align: center;
}

.indent {
	margin-left:10px;
}
.gap_below {
	margin-bottom:25px;
}
