
@media (min-width:750px){
	body{
	
}
@media (min-width:500px){
	body{

}

a{
	color:blacks;
	text-decoration:none;
	font-size: 25px;
	margin-left: 10px;
}

a:hover{
	color:black;
	background:white;
	text-decoration: none;
}

.greenlink:hover{
	color:green;
	background:gray;
}


h1{
		font-family:'Book Antiqua';
		font-size: 30pt;
		text-align: center;
}
p{
line-height: 2.0;
font-size: 15pt;
}
.thick{
	font-weight: bold;
}
li{
line-height: 2.0;
font-size: 15pt;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.warning{
font-size:90px;
color:red;
}
h3{
	text-align: center;
}

.indent {
	margin-left:10px;
}
.gap_below {
	margin-bottom:25px;
}
